
<% @categories.each do |category| %>
<h1><%= link_to "The Colour of #{category.name}", category %></h1>
<% end %>


<!-- If you change the source, you have to provide your own url here.-->
<p>
<a href="http://robmyers.org/git/?p=the_colour_of.git;a=summary">
Click here for source</a>
<!--<a href="http://www.gnu.org/licenses/agpl.html">
<img src="/images/agplv3-tiny.png" align="absmiddle"></a>-->
</p>

<p>
<a href="#">
Click here for data</a>&nbsp;
<!--<a href="http://creativecommons.org/publicdomain/zero/1.0/deed.en_GB">
<img src="/images/cc0-80x15.png" align="absmiddle">
</a>&nbsp;
<a href="http://www.opendefinition.org/">
<img src="/images/od_80x15_blue.png" align="absmiddle">
</a>-->
</p>

<p>
<a href="http://robmyers.org/git/?p=the_colour_of.git;a=summary">
Click here for more information</a>
<!--<a href="http://www.gnu.org/licenses/agpl.html">
<img src="/images/agplv3-tiny.png" align="absmiddle"></a>-->
</p>
